h3{
    margin-top: -50px;
}
h3 a{
    border-bottom: none;
    color:red;
    border: 2px solid;
    margin-right: 30px;
}
h1{
    margin-top: 50px;
        border-bottom: 2px dotted;
}
table td{
    border: 1px solid;
}
.logbtn{
    border: none;
    color: red;
    font-size: 25px;
}
.none{
    border: none;
}



















